/url/cache
/.emacs.desktop
/auto-save-list
/.session
/.session*
session*
/custom.el
*.elc
*~
.*.lock
/tramp
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
site-lisp/package/
/swank
/.mc-lists.el
/.sqli_history
/history
